.pop-up-form {
  border: 3px solid black;
  text-align: center;
  padding: 10px;
}

.active-room {
  background-color: rgb(54, 54, 54);
  margin:0;
  padding: 0.5em;
}

.room {
  font-size: 1.1em;
  margin:0;
  padding: 0.5em;
}

.room-list {
  background-color: gray;
  top: 4em;
  bottom: 0;
  position: absolute;
  width: 15em;
  padding-left: 2em;
  padding-top: 2em;
  color: white;
  float: left;
  clear: left;
  z-index: -1;
}