.App {
  text-align: Left;
}

.App-header {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 4em;
  color: white;
  position: fixed;
  top: 0;
}

.App-title {
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
  padding: 0.2em;
  margin: 0.2em;
}

.App-intro {
  font-size: large;
}
