.App {
  text-align: Left;
}

.App-header {
  background-color: gray;
  height: 100vh;
  width: 15em;
  padding: 20px;
  color: white;
  float: left;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}
